body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000;
}
.btn {
  cursor: pointer;
  border: none;
  outline: none;
}
